/* .active{
    display: none;
} */

.grid-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.link{
    display: flex;
}
.link a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-button-prev,
.swiper-button-next{
    color: white;
}
.swiper-button-next::after, 
.swiper-button-prev::after{
  font-size: 25px;
}
.swiper-pagination-bullet-active{
  background-color: white !important;
}
.swiper-pagination-bullet{
  background-color: white;
}
.share-option{
  display: none;
}
.filter-comment a{
  cursor: pointer;
  position: relative;
}
.filter-comment .active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: gray;
}
.tab-comment {
  display: none;
}
/* .tab-comment:first-child{
  display: block;
} */
 /* .open-replay-button{
  display: none;
 } 
.open-replay-button.show-replay-form{
  display: block;
}  */

@media (max-width: 1024px) {
  .mobile-mune{
    position: absolute;
    top: -1000px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 999;
    transition: all .3s;
     display: none;
  }
  .mobile-mune.active{
    display: block;
    top: 60px;
    /* width: 300px; */
  }
  .mobile-mune ul{
    display: block;
  }
  .mobile-mune ul li{
    margin: 20px 5px;
  }
}